html.analysis {
  h3 {
    float: left;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 2rem;
    margin: 0;
    font-family: Montserrat;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #707070;
  }
  .select2-container {
    width: 250px;
  }
}
