.content-details {
  float: left;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 1rem 2rem 0;
  margin: 0;

  dt, dd {
    padding: 0.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
  }
  dt {
    clear: both;
    float: left;
    width: 6rem;
    font-weight: bold;
    margin: 0 0 0.3rem;

    &:after {
      content: ":";
      margin: 0 0.3rem 0 0;
    }
  }
  dd {
    margin: 0 0 0.2rem;
    color: #707070;
    border-bottom: 0.1rem solid #e0e0e0;
    background: #f6f6f6;
  }
}

@media (max-width: 500px) {
  .content-details {
    dt, dd {
      text-align: center;
    }
    dt {
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding-bottom: 0;

      &:after {
        display: none;
      }
    }
  }
}
