<div class="content-header">
  <h1>{{customer.name}}</h1>
</div>

<dl class="content-details">
  <dt>identifier</dt>
  <dd>{{customer.identifier}}</dd>
  <dt>email</dt>
  <dd>{{customer.email}}</dd>
</dl>

<div class="content-section left-column">
  <h3>Last 5 events</h3>
  <ul class="content-list">
    <li ng-repeat="event in customer.last_5_events">
      <h2>{{event.action.name}}</h2>
      <p>time and date: <strong>{{formatDate(event.created_at)}}</strong></p>
      <p ng-repeat="custom_field_value in event.event_custom_fields">
        {{custom_field_value.custom_field.name}}:
        <strong>{{custom_field_value.value}}</strong>
      </p>
    </li>
  </ul>
</div>

<div class="content-section right-column">
  <h3>Event info</h3>
  <dl class="content-details">
    <dt>Purchase, revenue</dt>
    <dd>$15000</dd>
    <dt>Sign in, count</dt>
    <dd>100</dd>
  </dl>
</div>
